.changeStatus {
	position: relative;
	top: -35px;
	left: 80%;
	margin: 0;
	/*padding: 0;*/
}

#students{
	position: relative;
	left: 60%;
	top: -150px;
}

#experiment_detail{
	margin-left: 26%;
	padding: 0;
}

#course_detail{
	width: 900px;
	margin-left: 30%;
	margin-top: -11%;
	padding: 0;
}

#course_pic{
	width: 50px;
}